---
import { Image } from "astro:assets";

---

<div class="grid gap-4 lg:grid-cols-5">
  <div class="order-last flex gap-4 lg:order-none lg:flex-col">
    <!-- {images.map((image: any, ) =>  -->
      <div  class="overflow-hidden rounded-lg bg-gray-100">
        <Image
          src=""
          width={200}
          height={200}
          alt="photo"
          class="h-full w-full object-cover object-center cursor-pointer"
       
        />
      </div>
    <!-- )} -->
  </div>
  <div class="relative overflow-hidden rounded-lg bg-gray-100 lg:col-span-4">
    <Image
      src=""
      alt="Photo"
      width={500}
      height={500}
      class="h-full w-full object-cover object-center"
    />
    <span class="absolute left-0 top-0 rounded-br-lg bg-red-500 px-3 py-1.5 text-sm uppercase tracking-wider text-white">
      Sale
    </span>
  </div>
</div>